img {
    width: 150px;
    height: 150px;
}

.NameLogo {
    font-size: 150%;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

a{
    text-decoration: none;
    font-size: 80%;
    white-space: normal;
}
a:hover{
    color:aquamarine;

}

.example-spacer {
    flex: 1 1 auto;
  }

button {
    border-radius: 20px;
    margin: 40px;   
}