<!-- first step creation header -->
<header>
    <mat-toolbar color="primary">
        <span mat-button class="NameLogo">Tastery</span>   
        <span class="example-spacer"></span>
        <div>
            <span><a mat-button  href=""><mat-icon>home</mat-icon></a></span>
            <span> <a mat-button href="">Menu</a></span>
            <span><a mat-button href="">About us</a></span>
            <span><a mat-button href="">Contact</a></span>
            <button mat-raised-button color="warn">Login</button>
        </div>
    </mat-toolbar>
</header>