<!-- first step creation header -->
<header>
    <mat-toolbar color="primary">
        <span mat-button class="NameLogo">Tastery</span>   
        <span class="example-spacer"></span>
        <div>
            <span><a mat-button  routerLink="/home"><mat-icon>home</mat-icon></a></span>
            <span> <a mat-button routerLink="/menu">Menu</a></span>
            <span><a mat-button routerLink="/aboutUs">About us</a></span>
            <span><a mat-button routerLink="/contact">Contact</a></span>
            <button mat-raised-button color="warn" routerLink="/login">Login</button>
        </div>
    </mat-toolbar>
</header>